# dependencies
node_modules/

# generated types
.astro/
.vercel/

# build output
dist/
docs/
LICENSE
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# private config
.env
.elog.env